@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg: 252 252 252;
    --color-green: 46 172 104;
    --color-gray: 136 136 136;
    --color-light-gray: 229 231 235;
    --color-card: 255 255 255;
    --color-foreground: 255 255 255;
  }

  :root[class~="dark"] {
    --color-bg: 10 10 10;
    --color-light-gray: 54 54 54;
    --color-card: 39 39 42;
    --color-foreground: 63 63 70;
  }

  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #2eac6888 transparent;
    scrollbar-base-color: transparent;
  }
}
